<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
     <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  </head>
  <body>
  <div class="body">
    <div class="box">
    <div class="heading div">
     <div class="head style">
        <h1><%=resp[2]%>...... </h1>
   </div>
  </div>
   <div class="dialogue div">
    <div class="quote style font">
        <p><%=resp[0] %></p>
   </div>
   </div>
     
     
<div class="ganna div">
    <div class="song style font">
    <p>Just listen to this and Chilllllll......</p>
    <p><%=resp[1] %></p>
</div>
</div> <div class="button">
  <button id="downloadBtn">Download Image</button>
</div>
  </div>
  </div>
  <script src="/script.js"></script>
  </body>
</html>
